// out: false

@import "./config.less";
@import "./sheets.less";

.legends.sheet.npc-sheet {
  .body {
    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    .description-drive {
      margin: 1rem 0.5rem;

      .description {
        flex: 1;
        display: flex;
        height: 100%;

        .editor {
          height: 100%;
          width: 100%;
        }
      }
    }

    .principle {
      margin: 1rem 0.5rem;

      input {
        border: none;
        padding: 0 0.25rem;
      }

      .track {
        text-align: right;
        margin-bottom: -1.5rem;
      }

      .check-box {
        width: 2rem;
        height: 2rem;
        transform: rotate(45deg);
        color: @text-color;
        position: relative;
        margin: 0.25rem;

        .num {
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          transform: rotate(-45deg);
          width: 2.8rem;
          height: 2.8rem;
          text-align: center;
          font-size: 0.8rem;
          line-height: 1.5rem;
        }

        &.filled .num {
          color: white;
        }
      }
    }

    .technique-conditions {

      .technique-container,
      .conditions {
        margin: 1rem 0.5rem 0;

        .technique {
          margin-bottom: 1rem;

          h3,
          h4 {
            margin: 0;
          }

          h3 {
            font-size: 1.2rem;
          }

          h4 {
            font-size: 0.9rem;
          }
        }
      }

    }

    .fatigue {
      margin: 1rem 0.5rem 0;
    }
  }
}
