/**
 * Fonts
 **/
@font-face {
  font-family: "Village";
  src: url(fonts/prisoner/village.ttf);
}
@font-face {
  font-family: "Hey August";
  src: url(fonts/hey_august/HeyAugust.ttf);
}
@font-face {
  font-family: "Komikazoom";
  src: url(fonts/komikazoom/KAMIKZOM.ttf);
}
@font-face {
  font-family: "Covered By Your Grace";
  src: url(fonts/Covered_By_Your_Grace/CoveredByYourGrace-Regular.ttf);
}
@font-face {
  font-family: "New Tegomin";
  src: url(fonts/New_Tegomin/NewTegomin-Regular.ttf);
}
@font-face {
  font-family: "Noto Sans";
  src: url(fonts/Noto_Sans/NotoSans-Regular.ttf);
}
@font-face {
  font-family: "Noto Sans";
  src: url(fonts/Noto_Sans/NotoSans-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "Noto Sans";
  src: url(fonts/Noto_Sans/NotoSans-SemiBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Noto Sans";
  src: url(fonts/Noto_Sans/NotoSans-SemiBoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
/**
* Colours
**/
.bg-default {
  background: #f0f1f5;
}
body {
  font-family: "Noto Sans";
  font-size: 0.8rem;
}
body h1,
body h2,
body h3,
body h4 {
  font-family: "Village";
  font-variant: small-caps;
  font-weight: normal;
  margin: 0 0 0.5rem;
}
body h1 {
  font-size: 1.8rem;
}
body h2 {
  font-size: 1.6rem;
}
body h3 {
  font-size: 1.4rem;
}
body h4 {
  font-size: 1.2rem;
}
body p {
  margin: 0 0 0.5rem;
}
body .skill-name {
  color: #0d2d5d;
  font-family: "Village";
  font-variant: small-caps;
  font-weight: bold;
}
